.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header{
  display: flex;
  align-items: center;
}

.header svg{
  background:white;
  border-radius: 8px;
  padding: 10px 30px;
  margin: 20px;
}

.header h1{
  margin: 20px;
}

ul li{
  overflow: hidden;
}
ul li img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: perspective(2000px) rotateY(30deg);
  transition: all 0.5s;
}

.glideSlideActive{
  border: 1px solid white;
}

.glideSlideActive img{
  transform: perspective(2000px) rotateY(0deg);
}

[disabled]{
  background: red!important;
}
